{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <title>Sobre Mim - Leony Coelho</title>
  <main>
    <div class="container">
      <div class="p-5 mb-4">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Olá,</h1>
          <p class="col-md-8 fs-4">me chamo Leony Coelho e atuo como Desenvolvedor Fullstack e Designer Gráfico. Trabalho na criação de Websites e Aplicações Web, buscando atender diferentes demandas. Além disso, dedico-me à concepção e execução de peças gráficas digitais e identidade visual. Estou aqui para colaborar e agregar valor aos seus projetos.</p>
        </div>
      </div>
      <div class="px-4 py-0" id="icon-grid">
        
        <div class="row">
          
          <div class="row row-cols-1 col-6 g-4 py-5">
            <h2 class="pb-2">Desenvolviment Fullstack</h2>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Site Institucional</h4>
                <p>Um website para sua empresa ou negócio.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Landing Page</h4>
                <p>Uma pagina estática, perfeita para divulgações.</p>
              </div>
            </div>
            <!-- <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Loja Online</h4>
                <p>Uma .</p>
              </div>
            </div> -->
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Aplicação web customizada</h4>
                <p>Aplicações web para solucionar diversas demandas administrativas.</p>
              </div>
            </div>
          </div>
  
          <div class="row row-cols-1 col-6 g-4 py-5">
            <h2 class="pb-2">Design Gráfico</h2>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Identidade Visual</h4>
                <p>A identidade visual é a cara da sua empresa.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Gráfico Digital</h4>
                <p>Peças gráficas para todas as finalidades.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Apresentações Digitais</h4>
                <p>Documentos digitais bem diagramados e.</p>
              </div>
            </div>
            <!-- <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0">Peças de Promocionais</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div> -->
          </div>

        </div>



      </div>
    

      
    </div>
    
  </main>
  {% endblock %}