{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <title>Contato - Leony Coelho</title>
  <main class="contact-main">
    <div class="container">
      <main class="form-contact">

          <div class="row">
            <div class="contact-box col-md-8 mx-auto">
                <h2 class="pb-2  yellow-color">Entre em contato</h2>
                <form method="post" action="{% url 'contact' %}">
                  {% csrf_token %}
                  <div class="form-group row">
                    <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                        <label hidden>Nome</label>
                        <input type="text" name="nome" placeholder="Nome" class="form-control">
                    </div>
                    <div class="mb-3 col-6 col-sm-12 col-md-6 col-lg-6">
                        <label hidden>Email</label>
                        <input type="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label hidden>Título</label>
                        <input type="text" name="titulo" placeholder="Título da mensagem" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label hidden>Mensagem</label>
                        <textarea name="mensagem" placeholder="Sua mensagem" class="form-control user-msg" rows="10"></textarea>
                    </div>
                    <div class="mb-3">
                      <button type="submit" class="btn pink-bg white-color">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
          </div>

      </main>
      


  </div>
  </main>
  {% endblock %}