{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <title>Projetos - Leony Coelho</title>
  <main>
   
    <div class="container">
      <h1>{{ project.project_title }}</h1>
      {% for tag in project.project_tags.all %}
        <p class="card-text">{{ tag.tag_name }}</p>
      {% endfor %} 
      {% for image in project.project_images.all %}
      <img class="project-image w-100" src="{{ image.project_image.url }}" alt="{{ image.project_image.url }}"><br>
      {% endfor %}
      <h6 class="lead yellow-color fw-bold mt-3">Detalhes</h6>
      <p class="lead">{{ project.project_description }}</p>
    </div>
    </main>
  {% endblock %}