{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <title>Projetos - Leony Coelho</title>
  <main>

  <h1>Projetos</h1>
  <a href="{% url 'new_project' %}">Novo</a>
  <h1>Lista de Projetos</h1>
    
  {% for project in projects %}
  <a href="{% url 'project_detail' project.id %}">{{ project.project_title }}</a><br>
  
  {% if project.project_images.all %}
      <img src="{{ project.project_images.all.0.project_image.url }}" alt="{{ project.project_title }} Image"><br>
  {% endif %}

  {% if project.project_description %}
      <p>{{ project.project_description|safe|slice:":100" }}</p>
  {% endif %}

  <hr>  <!-- Apenas para separar visualmente os projetos na lista -->
{% endfor %}
  </main>
  {% endblock %}