{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <title>Projetos - Leony Coelho</title>
  <main>
   
    <div class="container">
      <h1>{{ project.project_title }}</h1>
      <!-- <p>Tags: {{ project.project_tags }}</p> -->  
      {% for image in project.project_images.all %}
      <img class="project-image w-100" src="{{ image.project_image.url }}" alt="{{ image.project_image.url }}"><br>
      {% endfor %}
      <p>Description: {{ project.project_description }}</p>
    </div>
    </main>
  {% endblock %}