body{
  background-color: #04112eff;
  color: #f5f4f3ff;
}

.user-msg{
    resize: none;
}

.yellow-color{  color: #ffd401ff!important;}
.pink-color{  color: #E62A88!important; }
.white-color{  color: #f5f4f3ff!important;}

.yellow-bg{  background-color: #ffd401ff!important;}
.pink-bg{  background-color: #E62A88!important;}
.white-bg{  background-color: #f5f4f3ff!important;}

.yellow-out{  border-color: #ffd401ff!important;}
.pink-out{  border-color: #E62A88!important;}
.white-out{  border-color: #f5f4f3ff!important;}

.no-outline{
  outline: 0px!important;
  box-shadow: none!important;
}

.contact-box{
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
    
}

.contact-main {
    height: 100%;
  }

.contact-main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

.form-contact {
    width: 100%;
    padding: 15px;
    margin: auto;
  }

.form-contact .checkbox {
    font-weight: 400;
  }

.form-contact .form-floating:focus-within {
    z-index: 2;
  }

.form-contact input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.form-contact input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-control{
    background-color: #34344b;
  }

  .project-card{
    height: 30rem;
  }

  .project-cover{
    height: 30rem;
    object-fit: cover;
  }

  .project-cover-home{
    background-size: 30rem;
    background-position: center;
    object-fit: cover;
  }


  .project-image{
    width: 100%;
  }